* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(115, 147, 115);
  font-family: "Georgia", "Helvetica", "Arial", sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

