.nav-link{
    text-decoration: none;
    color: whitesmoke;
    font-family: "Georgia", "Helvetica", "Arial", sans-serif;
}

.active {
    font-weight: bolder;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}

.sidebar-active {
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bolder;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}

